@page "/ImageEditor"
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.ImageEditor
@using Syncfusion.Blazor.Spinner

<div class="btn-div">
    <SfButton OnClick="BackToFileManager">Back To File Manager</SfButton>
    <SfButton OnClick="SaveAsync">Save To Storage</SfButton>
</div>

<div class="flex-parent">
    <div style="width: 50px"></div>
    <div class="image-editor-parent">
        <SfSpinner @bind-Visible="ShowSpinner"></SfSpinner>
        <SfImageEditor @ref="SfImageEditor" Height="80vh" Toolbar="customToolbarItem">
            <ImageEditorEvents ToolbarItemClicked="ToolbarItemClicked"></ImageEditorEvents>
        </SfImageEditor>
    </div>
</div>

<style>
    .image-editor-parent {
        @* position: relative; *@
        width: calc(100% - 50px);
    }

    .ai-icon:hover {
        color: white !important;
    }

    .measure-icon:hover {
        color: white !important;
    }

    .ai-icon:disabled {
        background-color: #e0e0e0 !important;
        color: #9e9e9e !important;
        cursor: not-allowed !important;
    }

    .measure-icon:disabled {
        background-color: #e0e0e0 !important;
        color: #9e9e9e !important;
        cursor: not-allowed !important;
    }

    .ai-icon {
        font-size: 14px !important;
        font-weight: normal !important;
    }

    .measure-icon {
        font-size: 14px !important;
        font-weight: normal !important;
    }

    .ai-icon::before {
        content: "✨ ";
        padding-right: 3px;
    }

    .measure-icon::before {
        content: "📏 ";
        padding-right: 3px;
    }

    .btn-div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3px;
    }

    .flex-parent {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .e-image-editor {
        position: static !important;
    }

    .e-toolbar-area {
        display: block;
        position: absolute;
        transform: rotate(90deg);
        transform-origin: 0% 0%;
        top: 0px;
        left: 46px;
        width: 80vh;
        border: 2px solid black;
        z-index: 1;
    }

    .e-toolbar-item {
        transform: rotate(-90deg);
    }
</style>