@page "/ImageEditor"
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.ImageEditor
@using Syncfusion.Blazor.Spinner

<SfSpinner @bind-Visible="ShowSpinner"></SfSpinner>
<SfButton style="margin: auto" OnClick="SaveAsync">Save To Storage</SfButton>

<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; position: relative;">
    <div style="width: 50px"></div>
    <div style="width: calc(100% - 50px);">
        <SfImageEditor @ref="SfImageEditor" Height="80vh" Vertical="true"></SfImageEditor>
    </div>
</div>

<style>
    .e-image-editor {
        position: static !important;
    }

    .e-toolbar-area {
        display: block;
        position: absolute;
        transform: rotate(90deg);
        transform-origin: 0% 0%;
        top: 0px;
        left: 46px;
        width: 80vh;
        border: 2px solid black;
        z-index: 1;
    }

    .e-toolbar-item {
        transform: rotate(-90deg);
    }
</style>