@page "/Records"
@using System.Text.Json

@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@inherits FoundationComponentBase
@inject HttpClient http

<h3> @L["Records"] </h3>

<SfGrid DataSource="@Records" @ref="RecordGrid" AllowPaging="true" AllowSorting="true" Toolbar=@Toolbaritems>
    <GridEvents OnToolbarClick="OnToolbarClick" TValue="RecordDto"></GridEvents>
    <GridColumns>
        <GridColumn Field="Id" HeaderText="ID" IsPrimaryKey="true" Visible="false" Width="10"></GridColumn>
        <GridColumn Field="OrganizationName" HeaderText=@L["Organization"] Width="15"></GridColumn>
        <GridColumn Field="DepartmentName" HeaderText=@L["Department"] Width="15"></GridColumn>
        <GridColumn Field="PatientName" HeaderText=@L["Patient"] Width="15"></GridColumn>
        <GridColumn Field="DoctorName" HeaderText=@L["Doctor"] Width="15"></GridColumn>
        <GridColumn Field="CreatedDate" HeaderText=@L["Date"] Width="15" Format="yyyy-MM-dd"></GridColumn>
        <GridColumn HeaderText=@L["File" ] Width="15">
            <Template>
                @{
                    var record = (context as RecordDto);
                    // <Button @onclick="@(() => NavigateFile(record))">View</Button>
                    <Button @onclick="@(() => NavigateFile(record))">Edit</Button>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>


@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string PatientId { get; set; }


    private SfGrid<RecordDto> RecordGrid;
    private List<RecordDto> Records = new();
    private List<ItemModel> Toolbaritems = new List<ItemModel>();

    protected override async Task OnInitializedAsync()
    {
        await LoadRecords();
        Toolbaritems.Add(new ItemModel() { Text = L["Refresh"], TooltipText = "Refresh", PrefixIcon = "e-refresh" });
        Toolbaritems.Add(new ItemModel() { Text = L["Delete"], TooltipText = "Delete", PrefixIcon = "e-delete" });
    }

    private async Task LoadRecords()
    {
        Records = await HttpClientFactory.CreateClient("ApiClient").GetFromJsonAsync<List<RecordDto>>($"/api/app/record/record-by/{PatientId}") ?? new();                
    }

    private async Task OnToolbarClick(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Text == "Refresh")
        {
            await LoadRecords();
        }
        else if (args.Item.Text == "Delete")
        {
            var selectedRecords = await RecordGrid.GetSelectedRecordsAsync();
            if (selectedRecords.Any())
            {
                var recordToDelete = selectedRecords.First();
                await DeleteRecord(recordToDelete.Id);
            }
        }
    }

    private async Task DeleteRecord(Guid id)
    {
        await HttpClientFactory.CreateClient("ApiClient").DeleteAsync($"/api/app/record/record/{id}");
        await LoadRecords();
    }

    private void NavigateFile(RecordDto recordDto)
    {        
        NavigationManager.NavigateTo($"/WordProcessor?fNmae={recordDto.FileName}&patientId={recordDto.PatientId}");
    }
    // private async Task NavigateFileEdit(RecordDto recordDto)
    // {
    //     var preSignedUrl = HttpClientFactory.CreateClient("ApiClient").BaseAddress + $"api/app/examination/PreSignedUrl?fileName={recordDto.FileName}";

    //     var response = await http.GetAsync(preSignedUrl);
    //     var json = await response.Content.ReadAsStringAsync();
    //     var returnSignedUrl = await response.Content.ReadAsStringAsync();
    //     var encodedUrl = Uri.EscapeDataString(returnSignedUrl);
    //     // var patientId = string.IsNullOrEmpty(recordDto.PatientId) ? "1" : recordDto.PatientId;

    //     //NavigationManager.NavigateTo($"/WordProcessor?fNmae={encodedUrl}&patientId={recordDto.PatientId}");

    //     NavigationManager.NavigateTo($"/WordProcessor?fNmae={encodedUrl}&patientId={recordDto.PatientId}");
    // }
}
