@page "/CvatWindowIframe"
@inject IJSRuntime jsRuntime
<h3>Cvat Window Iframe - Sample React App</h3>

@* // sample react app no cors needed *@
<iframe src="https://localhost:3000" style="width: 100%; height: 600px"></iframe>
@* <iframe src="https://localhost:44322/"></iframe> *@