name: main

on:
  push:
    branches:
      - FOND-20-research-on-github-action-cicd-idental-foundation

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore ./Foundation.sln
        
      - name: Install Node.js (required for ABP client-side libs)
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
      - name: Install ABP CLI
        run: dotnet tool install -g Volo.Abp.Cli
        
      - name: Add ABP CLI to PATH
        run: echo "$HOME/.dotnet/tools" >> $GITHUB_PATH

      - name: Install client-side libraries
        run: abp install-libs
